.m_left {
  float: left;
  width: 25%;
  height: 100%;
  overflow: auto;
}

.m_left span {
  display: block;
  width: 100%;
  height: 1rem;
  text-align: center;
  line-height: 1rem;
  font-size: 0.5rem;
}

.m_left span.active {
  color: red;
}

.m_right {
  float: left;
  width: 75%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.m_right .m_header {
  width: 100%;
  height: 1rem;
  display: flex;
}

.m_right .m_header span {
  flex: 1;
  text-align: center;
  line-height: 1rem;
}

.m_right .m_main {
  flex: 1;
  overflow: auto;
}

.m_right .m_main div {
  width: 100%;
  height: 3rem;
}

.m_right .m_main div img {
  float: left;
  margin: 0.5rem;
  width: 20%;
  height: 60%;
}

.m_right .m_main div P {
  width: 65%;
  float: left;
}

.m_right .m_main div P b {
  color: red;
}

.m_right .m_main div button {
  width: 30%;
  height: 20%;
}
